@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    max-width: 1000px;
    font-family: 'Poppins', sans-serif;
}
.fa-solid.fa-road {
    color: brown;
}

h1 {
    padding: 0.5cm;
    color: black;
    font-size: 30px;
    position: relative;
}

span.h1 {
    padding: 0;
    color: #858585;
    font-size: 10px;
    font-weight: 100;
    position: relative;
    bottom: 0.12cm;
    left: 0.2cm;
}
div.image {
    padding: 0 0 0cm 2cm;
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div.h2 h2 {
    padding: 0 0 1cm 2cm;
    color: black;
    font-weight: 400;
    font-size: 28px;
    position: relative;
    top: 0.40cm;
}

img {
    width: 365px;
    padding: 0 1cm 0 0;
}

p.descri {
    text-align: justify;
}
/* ===============================================================DETALHES */

div.detalhes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1349px;
    padding: 0.5cm 0cm 2cm 2cm;
}
p {
    font-size: 16px;
    color: black;
}
span {
    color: #969696;
    padding: 0 14px 0 0;
    font-size: 10px;
    position: relative;
    bottom: 0.18cm;
    left: 0.2cm;
}
article.preco p {
    padding: 0.3cm;
    background-color: rgb(233, 237, 242);
    position: relative;
    left: 4cm;
    bottom: 1cm;
    font-size: 22px;
}
/* ===============================================================CONTATO */

div.contato {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1349px;
    background-color: rgb(113, 32, 32);
    padding: 1cm 2cm; 
    margin: 0; 
}
.contato h2 {
    color: #fff;
    font-weight: 100;
}

.fa-brands.fa-whatsapp {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 0.2cm;
}
    
.number {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: relative;
    top: 0.1cm;
}
div.venda h1 {
    padding: 0;
    color: #fff;
    position: relative;
    left: 1.5cm;
}

h3 {
    font-weight: 500;
    font-size: 12px;
    color: #858585;
    position: relative;
}

a.name {
    color: #858585;
}


/* Media query para dispositivos móveis */
 

