@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    max-width: 980px;
    font-family: 'Poppins', sans-serif;
}

.fa-solid.fa-road {
    color: brown;
}

h1 {
    margin: 0.5cm;
    padding: 0.5cm;
    color: black;
    font-size: 30px;
    position: relative;
}

span {
    color: #858585;
    font-size: 12px;
    font-weight: 100;
    position: relative;
    bottom: 0.12cm;
    left: 0.2cm;
}
div.image {
    padding: 1cm;
}
img {
    width: 365px;
    padding: 0 1cm 0 0;
}

h2.titulo1 {
    color: black;
    font-weight: 500;
    font-size: 26px;
    position: relative;
    top: 0.40cm;
}
div.detalhes {
    padding: 0 1cm;
}
p.ano {
    color:#858585
}
span.doiseis {
    color: black;
    font-size: 16px;

}

.contato {
    padding: 1cm;    
}

.fa-brands.fa-whatsapp {
    padding: 1cm;
    font-size: 25px;
    color: green;
    
.number {
    padding: 1cm;
    font-family: 'Poppins', sans-serif;
    color: black;
    position: relative;
    bottom: 3.47cm;
    left: 0.8cm;
}

h3 {
    padding-left: 1cm;
    padding-top: 0.8cm;
    font-size: 16px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
}