@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    max-width: 375px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #fff;
    position: relative; bottom: 0.15cm;
    padding: 1cm 1cm 0 0.8cm;
    font-size: 25px;
    font-weight: 100;
}

img {
    width: 345px;
    padding-left: 0.85cm;
    padding-bottom: 0.5cm;
}

.detalhes {
    padding: 0.3cm 1cm 1cm 1cm;
}

.p1{
    color: #fff;
    font-weight: 500;
    text-align: justify;
}

.p2 {
    color: #fff;
    padding-top: 0.9cm;
    font-weight: 500;
}
span {
    color: #969696;
    font-size: 14px;
}

.preco {
    padding-left: 0.3cm;
    background: #969696;
    width: 5.3cm;
}

.s1 {
    color: rgb(48, 48, 48);
    font-size: 12px;
}

.contato {
    padding: 1cm;
    background: #969696;
}
h2 {
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 0.5cm;
}

.fa-brands.fa-whatsapp {
    font-size: 25px;
    color: black;
    position: relative;
    bottom: 0.23cm;  
}
.number {
    color: black;
    position: relative;
    bottom: 0.3cm;  
}

h3 {
    position: relative;
    top: 0.7cm;
    left: 1cm;
    font-weight: 100;
    font-size: 10px;
    color: black;
}
.name {
    color: rgb(0, 0, 39);
}